@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔹 Hiệu ứng mở popup */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
